<%- include("../includes/header.ejs", {title:"Account - " + account.first_name}); %>
    <h1>Accounts</h1>
    <ul>
        <li>First Name: <%= account.first_name %></li>
        <li>Last Name: <%= account.last_name %></li>
        <li>Email: <%= account.email %></li>
        <li>Schools:
            <ul>
                <% for(var i=0; school.length > i; i++ ) { %>
                <li><%= school[i].school_name %></li>
                <% } %>
            </ul>
        </li>
        <li>Companies:
            <ul>
                <% for(var j=0; company.length > j; j++ ) { %>
                <li><%= company[j].company_name %></li>
                <% } %>
            </ul>
        </li>
        <li>Skills:
            <ul>
                <% for(var k=0; skill.length > k; k++ ) { %>
                <li><%= skill[k].skill_name %></li>
                <% } %>
            </ul>
        </li>
    </ul>


<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>