<%- include("../includes/header.ejs", {title: "Update " + school.school_name});%>

<h1>Update <%= school.school_name%></h1>
<form action="/school/update" method="get">
    <input type="hidden" id="school_id" name="school_id" value="<% school.school_id%>">
    School Name: <input id="school_name" name="school_name" type="text" value="<%= school.school_name%>"/>
    <br />
    <br />
    Address <br />
    <select id="address_id" name="address_id" multiple="multiple">
        <% for(var i=0; address.length > i; i++) {
            var selected = "";

            if(address[i].school_id != null) {
                selected = "selected";
            }
        %>
        <option value="<% address[i].address_id %>" <%= selected %> ><%= address[i].street + ', ' + address[i].zip_code %></option>
        <% } %>
    </select>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#address_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />
</form>

<%- include("../includes/footer.ejs");%>

</html>