<%- include("../includes/header.ejs", {title:"Schools - " + result[0].school_name}); %>
<h1>Schools</h1>
    <u1>
        <li>School Name: <%= result[0].school_name %></li>
        <li>Address:
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                    <li><%= result[i].street + ', ' + result[i].zip_code %></li>
                <% }%>
            </ul>
        </li>
    </u1>


<a href="/school/all"><< back</a>

<%- include("../includes/footer.ejs"); %>